{%extends "App/index.html" %}

{% block titulo %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Nexter - Ropa a otro nivel</h1>
            <p class="lead fw-normal text-white-50 mb-0">¡Gracias por elegirnos! </p>
        </div>
    </div>
</header>
{% endblock titulo %}




{% block contenido %}

<h4>
 <p style= "color:blue" align="center">Se ha deslogeado correctamente  </p>
<h4>

{% endblock contenido %}